/*-- scss:defaults --*/



// font settings
@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
$font-family-sans-serif: Raleway, sans-serif;

body {
    font-variant-numeric: lining-nums;
    -moz-font-feature-settings: "lnum" 1;
    -moz-font-feature-settings: "lnum=1";
    -ms-font-feature-settings: "lnum" 1;
    -o-font-feature-settings: "lnum" 1;
    -webkit-font-feature-settings: "lnum" 1;
    font-feature-settings: "lnum" 1;
}


$presentation-font-size-root: 50px;
$presentation-h1-font-size: 2.5em;
$presentation-h2-font-size: 2em;
$presentation-h3-font-size: 1.5em;
$presentation-h4-font-size: 1.3em;


/*-- scss:rules --*/

// /* Custom CSS for aligning figure captions */
.caption-left {
    text-align: left;
    margin-left: 30px;
    /* Remove default margins */
}

.fitcenter {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    &.text-left {
        text-align: left;

        figcaption {
            margin-left: 30px;
            /* Remove default margins */
        }
    }

    &.text-right {
        text-align: right;

        figcaption {
            margin-right: 30px;
            /* Remove default margins */
        }
    }
}

.reveal img {
    vertical-align: middle;
    // max-width: 100%;
    // padding: 10px 10px;
    margin: 0
}

.quarto-figure {
    margin-bottom: 0;
    padding: 0;
}

.reveal .footer {
    font-size: 2vh !important;
    bottom: 2vh !important;
}

// .reveal .slide-logo {
// //   height: 0.7em !important;
//   height: 5.5vh !important;
//   bottom: 0.5vh !important;
// //   width: 100px !important;
//   max-width: unset !important;
//   max-height: unset !important;
// }

.cea-logo {
    position: absolute;
    bottom: -235px;
    left: -50px;
    width: 140px;
    /* Adjust the size as needed */
    z-index: 1;
}

.cosmostat-logo {
    position: absolute;
    bottom: -245px;
    left: 70px;
    width: 530px;
    /* Adjust the size as needed */
}

.spt-logos {
    position: absolute;
    bottom: -230px;
    right: -60px;
    width: 500px;
    /* Adjust the size as needed */
}


.reveal img.nopad {
    padding: 0;
}

figcaption>span {
    display: block !important;
    position: relative !important;
}

.credit {
    // font-size: 0.7em;
    position: relative;
    display: block;
    // text-align: center;
}

.reveal .slide-number>a[href*='title-slide'] {
    display: none;
}

.reveal .slides .full {
    top: 0 !important;
    padding: 0 0;
    margin-top: 0px;
}


// .align-left p,
// .align-left ul,
// .align-left ol {
//     text-align: left;
// }

// .reveal blockquote {
//     width: 95%;
//     margin-bottom: 5px;
// }

// .reveal section {
//     height: 100%;
//     display: flex;
//     flex: 1;
//     align-items: center;
//     justify-content: center;
// }

// .reveal section.center {
//     height: unset;
// }

// .reveal .center h1 {
//     height: 2.5em;
// }

// .container {
//     height: 90%;
//     display: flex;
//     flex: 1;
//     overflow: auto;
//     align-items: center;
//     justify-content: center;
// }
