
/*-- scss:defaults --*/

@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,300..500;1,300..500&display=swap');

$font-family-sans-serif: Raleway, sans-serif;

body {
    font-variant-numeric: lining-nums;
    -moz-font-feature-settings: "lnum" 1;
    -moz-font-feature-settings: "lnum=1";
    -ms-font-feature-settings: "lnum" 1;
    -o-font-feature-settings: "lnum" 1;
    -webkit-font-feature-settings: "lnum" 1;
    font-feature-settings: "lnum" 1;
}

$presentation-font-size-root: 50px;
$presentation-h1-font-size: 2.5em;
$presentation-h2-font-size: 2em;
$presentation-h3-font-size: 1.5em;
$presentation-h4-font-size: 1.3em;


/*-- scss:rules --*/

.caption-left {
    text-align: left;
    margin-left: 30px;
}

.fitcenter {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;

    &.text-left {
        text-align: left;
        figcaption {
            margin-left: 30px;
        }
    }

    &.text-right {
        text-align: right;
        figcaption {
            margin-right: 30px;
        }
    }
}

.reveal img {
    vertical-align: middle;
    margin: 0;
}

.reveal img.nopad {
    padding: 0;
}

.quarto-figure {
    margin-bottom: 0;
    padding: 0;
}

figcaption > span {
    display: block !important;
    position: relative !important;
}

.credit {
    position: relative;
    display: block;
}

.reveal .footer {
    font-size: 2vh !important;
    bottom: 2vh !important;
}

.reveal .slide-number > a[href*='title-slide'] {
    display: none;
}

.reveal .slides .full {
    top: 0 !important;
    padding: 0;
    margin-top: 0;
}

.cea-logo {
    position: absolute;
    bottom: -235px;
    left: -50px;
    width: 140px;
    z-index: 1;
}

.cosmostat-logo {
    position: absolute;
    bottom: -245px;
    left: 70px;
    width: 530px;
}

.euclid-logo {
    position: absolute;
    bottom: -230px;
    right: -60px;
    width: 500px;
}
